<form [formGroup]="AddressForm" class="p-5">
  <div class="container col-6">
    <div class="card">
      <div class="card-header text-center">
        <h4>Shipping Address</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <input type="text" placeholder="First Name" class="form-control" formControlName="fname">
          </div>

          <div class="col-6">
            <input type="text" placeholder="Last Name" class="form-control" formControlName="lname">
          </div>
        </div><br>

        <div>
          <input type="text" placeholder="Pincode" class="form-control" formControlName="pincode">
        </div><br>

        <div>
          <input type="text" placeholder="Address" class="form-control" formControlName="Address">
        </div><br>

        <div>
          <input type="text" placeholder="Post Office" class="form-control" formControlName="postOffice">
        </div><br>

        <div>
          <input type="text" placeholder="City" class="form-control" formControlName="city">
        </div><br>

        <div class="row">
          <div class="col-6">
            <input type="text" placeholder="State" class="form-control" formControlName="state">
          </div>

          <div class="col-6">
            <input type="text" placeholder="Country" class="form-control" formControlName="country">
          </div>
        </div>
      </div>

      <div class="card-footer text-center">
        <button type="submit" class="btn btn-success" (click)="NewAddress()">Deliver here</button>
      </div>
    </div>
  </div>
</form>